source "drivers/huawei_platform/audio/max98925/Kconfig"
source "drivers/huawei_platform/audio/speakerID/Kconfig"
source "drivers/huawei_platform/audio/anc_hs/Kconfig"
source "drivers/huawei_platform/audio/tfa9895/Kconfig"
source "drivers/huawei_platform/audio/earpiece_pa/Kconfig"
source "drivers/huawei_platform/audio/dts_eagle/Kconfig"
source "drivers/huawei_platform/audio/tpa2028_spk_l/Kconfig"
source "drivers/huawei_platform/audio/tpa2028_spk_r/Kconfig"
source "drivers/huawei_platform/audio/ad45257/Kconfig"